{% extends "index.html" %}
{% load static %}

{% block content %}
    <div class="page-container">
      <a class="back-button" href="{% url 'lista_facturas' %}">Volver a la Lista</a>
      <div class="view-order">
        <h2>Detalles de la Factura {{ factura.id|stringformat:"011d" }}</h2>
        <div class="order-details">
            <div class="row">
              <div class="col-md-6">
                <p><strong>Orden de trabajo(Codigo OT):</strong> {{ factura.Orden_de_trabajo }}</p>
                <p><strong>Id del cliente:</strong> {{ factura.Id_cliente }}</p>
                <p><strong>IGV:</strong> {{ factura.IGV }}</p>
                <p><strong>Pago de Detracción:</strong> {{ factura.Pago_de_detraccion }}</p>              
              </div>
              <div class="col-md-6">
                <p><strong>Fecha de Emisión:</strong> {{ factura.Fecha_Emision }}</p>
                <p><strong>Importe:</strong> {{ factura.Importe }}</p>    
                <p><strong>Detracción:</strong> {{ factura.Detraccion }}</p>
                <p><strong>Documento factura:</strong> {{ factura.Documento_factura }}</p>
              </div>
                
                
                <!-- Mostrar otros campos del modelo aquí -->
            </div>
        </div>
      </div>
    </div>


<!-- Enlace al archivo CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/ver_orden.css' %}">
{% endblock %}
