{% extends "index.html" %}
{% load static %}

{% block content %}
    <div class="page-container">
      <a class="back-button" href="{% url 'lista_inventario' %}">Volver a la Lista</a>
      <div class="view-order">
        <h2>Detalles del Item en el Inventario</h2>
        <div class="order-details">
            <div class="column">
                <p><strong>Id inventario:</strong> {{ inventario.Id_Inventario }}</p>
                <p><strong>Nombre ítem:</strong> {{ inventario.Nombre }}</p>
                <p><strong>Fecha de ingreso:</strong> {{ inventario.FechaIngreso }}</p>
                <p><strong>Cantidad:</strong> {{ inventario.Cantidad }}</p>
                <p><strong>Número e registro:</strong> {{ inventario.NumeroRegistro }}</p>
                <p><strong>Descripción:</strong> {{ inventario.Descripcion }}</p>
                <p><strong>Tiempo de Vida:</strong> {{ inventario.TiempoVida }}</p>
                <p><strong>Ambiente:</strong> {{ inventario.Ambiente }}</p>
                <p><strong>Estado:</strong> {{ inventario.Estado }}</p>
                <!-- Mostrar otros campos del modelo aquí -->
                <a class="print-button" href="{% url 'generar_pdf' inventario.pk %}">Imprimir PDF</a>
            </div>
        </div>
      </div>
    </div>


<!-- Enlace al archivo CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/ver_orden.css' %}">
{% endblock %}