{% extends "index.html" %}
{% load static %}

{% block content %}
    <div class="page-container">
      <a class="back-button" href="{% url 'lista_gasto' %}">Volver a la Lista</a>
      <div class="view-order">
        <h2>Detalles del Gasto</h2>
        <div class="order-details">
            <div class="column">
                <p><strong>Código de Boleta:</strong> {{ gasto.Codigo_de_boleta }}</p>
                <p><strong>Tipo de Gasto:</strong> {{ gasto.Tipo_de_gasto }}</p>
                <p><strong>Area de Gasto:</strong> {{ gasto.Area_de_gasto }}</p>
                <p><strong>Descripción:</strong> {{ gasto.Descripcion }}</p>
                <p><strong>Monto Gastado:</strong> {{ gasto.Monto_gastado }}</p>
                <p><strong>Fecha Boleta:</strong> {{ gasto.Fecha_boleta }}</p>
                <p><strong>Documento Boleta:</strong> {{ gasto.Documento_boleta }}</p>
                <!-- Mostrar otros campos del modelo aquí -->
            </div>
        </div>
      </div>
    </div>


<!-- Enlace al archivo CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/ver_orden.css' %}">
{% endblock %}